* {
    box-sizing: border-box;
}

body {
    font-family: OpenSans, Helvetica, Arial, sans-serif;;
    font-size: calc(18px + ((100vw - 1025px) * (22 - 18) / (1920 - 1024)));
}

.container {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 53em;
}

.row {
    width: 100%;
}

.header {
    background-image: url("../img/header-cover.jpg");
    background-position: center;
    background-size: cover;
}

.header--account {
    padding-bottom: 1em;
    background: #8d6e63;
}

.header--account .nav__link {
    color: white;
}

.header .row:first-child {
    padding-top: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.logo {
    display: inline-block;
}

.logo__img {
    width: 2.1em;
}

.app-name {
    color: #4e342e;
    font-weight: 800;
    font-size: 120%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    user-select: none;
}

.nav {
    display: flex;
    align-items: center;
    user-select: none;
}

.nav__list {
    list-style-type: none;
}

.nav__item {
    margin-left: 1em;
    display: inline-block;
}

.nav__link {
    padding: .3em .8em;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid transparent;
    color: rgba(52, 27, 43, .7);
    font-weight: 500;
    font-size: 90%;
}

.nav__link:hover {
    text-decoration: none;
    border: 1px solid white;
    background: rgba(188, 202, 206, .3);
    color: rgba(52, 27, 43, .9);
}

.nav__link--logout {
    padding: 0;
}

.nav__link--logout:hover {
    border: 1px solid transparent;
    background: none;
}

.nav__logout {
    padding: .3em .8em;
    text-transform: uppercase;
    border: 1px solid transparent;
    color: rgba(52, 27, 43, .7);
    font-weight: 500;
    font-size: 110%;
}

.exchange {
    background: #d7ccc8;
}

.exchange__list {
    padding: .2em 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.exchange__item {
    font-size: 80%;
}

.greeting {
    padding: 12em 0;
}

.greeting__container {
    padding: 10em 1em;
    background: rgba(52, 27, 43, 0.5);
    border-radius: 1em;
}

.greeting__heading {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 400%;
    font-family: Raleway, Helvetica, Arial, sans-serif;
    filter: drop-shadow(2px 4px 6px black);
}

.register {
    text-align: center;
}

.register__btn {
    margin-top: 2em;
    padding: .5em 1em;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 110%;
    border: 1px solid white;
    border-radius: .5em;
    background: rgba(52, 27, 43, .6);
    display: inline-block;
    filter: drop-shadow(2px 4px 6px black);
}

.register__btn:hover {
    background: rgba(188, 202, 206, .5);
}

.auth__container {
    margin: 0 auto;
    width: 30em;
}

.auth-form .row:nth-child(3) {
    margin-bottom: 1em;
}

.auth-form__label {
    margin-bottom: 1em;
    font-size: 120%;
    color: white;
}

.auth-form__input {
    margin-bottom: 1em;
    width: 100%;
}

.auth-form__input--submit {
    padding: .3em .8em;
    width: auto;
    text-transform: uppercase;
    background: none;
    border: 1px solid transparent;
    color: white;
    font-weight: 500;
    font-size: 110%;
    display: inline-block;
}

.auth-form__input--submit:hover {
    border: 1px solid white;
    background: rgba(188, 202, 206, .3);
}

.auth-registration-btn {
    padding: .3em .8em;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid transparent;
    color: white;
    font-weight: 500;
    font-size: 110%;
}

.auth-registration-btn:hover {
    text-decoration: none;
    border: 1px solid white;
    background: rgba(188, 202, 206, .3);
}

.auth-form__text {
    margin-bottom: 1em;
    color: #d50000;
}

.account, .admin {
    padding: 1em 0;
    min-height: 35em;
    background: #F3F6FA;
}

.account__heading,
.admin__heading {
    text-align: center;
    font-weight: 500;
    font-family: Raleway, Helvetica, Arial, sans-serif;
}

.account__heading--user-name {
    font-style: italic;
}

.page-tab__container {
    display: flex;
    flex-flow: row nowrap;
}

.page-tab__link {
    width: 100%;
    background-color: #424242;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 110%;
}

.page-tab__link:hover {
    background-color: #6d6d6d;
}

.page-tab__content {
    color: white;
    display: none;
    padding: 1em;
    height: 100%;
}

.page-tab__content--main {
    background-color: #00796b;
}

.page-tab__content--wallets {
    background-color: #455a64;
}

.page-tab__content--categories {
    background-color: #1565c0;
}

.page-tab__content--operations {
    background-color: #bb4d00;
}

.page-tab__content--settings {
    background-color: #6c6f00;
}

.wallet-cell {
    width: 35%;
    font-size: 80%;
    display: inline-block;
}

.wallet-cell__container {
    margin-top: 1em;
    max-height: 25em;
    overflow: auto;
}

.wallet-cell__table {
    width: 100%;
}

.wallet-cell__th,
.wallet-cell__td {
    padding: .5em;
    max-width: 4em;
    overflow: auto;
    text-align: center;
}

.wallet-cell__th {
    font-weight: 800;
    color: #5d4037;
}

.wallet-cell__td {
    border-bottom: 1px solid white;
}

.wallet-cell__text {
    margin: 1em 0;
    text-align: center;
    font-weight: 800;
    color: #5d4037;
}

.wallet-cell__label {
    width: 100%;
    margin-bottom: 1em;
    display: block;
}

.wallet-cell__input {
    margin-bottom: 1em;
    width: 100%;
    border: 1px solid #5d4037;
}

.wallet-cell__submit {
    margin: 1em auto;
    padding: .5em 1em;
    border: none;
    background: #5d4037;
    color: white;
    text-transform: uppercase;
    display: block;
}

.wallet-cell__submit:hover {
    background: #8b6b61;
}

.main-cell {
    margin: 1em 0 1em 1em;
    width: 62%;
    vertical-align: top;
    display: inline-block;
}

.operation-tab__container {
    display: flex;
    flex-flow: row nowrap;
}

.operation-tab__link {
    width: 100%;
    background-color: #546e7a;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 110%;
}

.operation-tab__link:hover {
    background-color: #819ca9;
}

.operation-tab__content {
    padding: 1em;
    color: white;
    background-color: #8d6e63;
    display: none;
}

.operation-tab__label {
    margin-bottom: 1em;
    width: 100%;
    display: block;
}

.operation-tab__input {
    margin-bottom: 1em;
    width: 100%;
    border: 1px solid #546e7a;
    display: block;
}

.operation-tab__select {
    margin-bottom: 1em;
    width: 100%;
    border: 1px solid #546e7a;
}

.operation-tab__select--hidden {
    width: 0;
    height: 0;
    opacity: 0;
}

.operation-tab__submit {
    margin: 1em auto;
    padding: .5em 1em;
    border: none;
    background: #546e7a;
    color: white;
    text-transform: uppercase;
    display: block;
}

.operation-tab__submit:hover {
    background: #819ca9;
}

.last-operations {
    margin-top: 5em;
    font-size: 80%;
}

.last-operations__text {
    margin: 2em 0;
    font-size: 150%;
    text-align: center;
}

.last-operations__table {
    width: 100%;
}

.last-operations__th,
.last-operations__td {
    padding: .5em;
    max-width: 4em;
    overflow: auto;
    text-align: center;
}

.last-operations__th {
    font-weight: 800;
    color: #5d4037;
}

.last-operations__td {
    border-bottom: 1px solid white;
}

.wallets__text,
.categories__text,
.operations__text,
.settings__text,
.admin__text {
    margin: 1em 0;
    font-weight: 600;
    text-align: center;
    color: #d7ccc8;
}

.wallets__label,
.categories__label,
.settings__label {
    margin-bottom: 1em;
    display: block;
}

.wallets__input,
.categories__input,
.settings__input,
.admin__input {
    margin-bottom: 1em;
    width: 100%;
    border: 1px solid #5d4037;
}

.wallets__submit,
.categories__submit,
.operations__submit,
.settings__submit,
.admin__submit {
    padding: .5em 1em;
    border: none;
    background: #5d4037;
    color: white;
    text-transform: uppercase;
    display: block;
}

.wallets__submit:hover,
.categories__submit:hover,
.operations__submit:hover,
.settings__submit:hover,
.admin__submit:hover {
    background: #8b6b61;
}

.wallets__select,
.categories__select {
    margin-bottom: 1em;
    width: 100%;
    border: 1px solid #5d4037;
}

.wallets__container,
.categories__container,
.operations__container,
.admin__container {
    margin-top: 1em;
    max-height: 40em;
    overflow: auto;
}

.wallets__table,
.operations__table,
.admin__table {
    width: 100%;
}

.wallets__th,
.wallets__td,
.operations__th,
.operations__td,
.admin__th,
.admin__td {
    padding: .5em;
    max-width: 12em;
    overflow: auto;
    text-align: center;
}

.wallets__th {
    font-weight: 800;
    color: #a1887f;
}

.wallets__td {
    color: black;
    border-bottom: 1px solid white;
    background: #cfd8dc;
}

.categories__list {
    padding: 1em 0;
}

.categories__item {
    margin-bottom: 1em;
    padding: .5em 0 .5em .5em;
    color: black;
    background: #cce5ff;
}

.operations__text--left {
    text-align: left;
}

.operations__th {
    font-weight: 800;
    color: #4b2c20;
}

.operations__td {
    color: black;
    border-bottom: 1px solid white;
    background: #fff3e0;
}

.admin__wrapper {
    padding: 1em;
    background: #6a1b9a;
    color: white;
}

.admin__td {
    color: black;
    border-bottom: 1px solid white;
    background: #f3e5f5;
}

.admin__input--sm {
    width: auto;
}

.admin__link {
    text-decoration: none;
}

.footer {
    padding: 3em 0;
    background: #424242;
}

.footer .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    color: white;
}

.social-links__link {
    margin-right: .5em;
    text-decoration: none;
}

.social-links__link:last-child {
    margin-right: 0;
}

.social-links__link:hover {
    text-decoration: none;
}

.social-links__pic {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url(../img/sprite1.png) no-repeat -100px 0;
}

.social-links__pic--fb {
    background-position: -100px -4px;
}

.social-links__pic--twitter {
    background-position: -140px -4px;
}

.social-links__pic--linkedin {
    background-position: -220px -4px;
}

.social-links__pic--google-plus {
    background-position: -180px -4px;
}

.social-links__pic:hover {
    opacity: .5;
}

@media screen and (max-width: 800px) {
    .wallet-cell,
    .main-cell {
        width: 100%;
        display: block;
    }

    .main-cell {
        margin: 0;
    }
}

@media screen and (max-width: 600px) {
    .auth__container {
        width: auto;
    }

    .nav__item {
        margin-bottom: 1em;
    }

    .exchange__list {
        flex-flow: column;
        align-items: center;
    }

    .exchange__item {
        margin: .2em 0;
    }

    .page-tab__container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 380px) {
    .header,
    .account,
    .admin,
    .footer {
        min-width: 380px;
    }
}